<div>
  <div id="lopHeader"
    style="width: 100%; background: linear-gradient(180deg, rgba(0, 182, 240, 1) 0%, rgba(0, 84, 152, 1) 100%); padding: 0.5rem 0; z-index: 1001;">
    <img class="logo" src="../../../../../../assets/images/Citi_Registered_Logo_3x.png">
  </div>
  <div style="background-color: #002A54; position: absolute;">
    <div style="background-color: white; z-index: 1008; margin: 2rem; text-align: center;">
      <div style="padding-top: 3rem;">
        Congratulations, ANTHONY!
      </div>
      <div style="padding: 3rem;">
        You are pre-approved for an exclusive loan for Ready Credit of S$20,000
      </div>
      <div style="">
        <hr style="width: 20%; border-width: 2px; border-color: rgba(0, 84, 152, 1);" />
      </div>
      <div style="padding: 3rem;">
        It's a limited offer - get it now in just 2 minutes.
      </div>
    </div>

    <div style="width: 100%; height: 10rem; z-index: 1002; background-color: #002A54;">
      <div style="height: 100%; padding: 0 2.5rem;">
        <div style="color: white;">Loan Amount</div>
        <div style="height: 30%; padding-top: 0.5rem;">
          <input type="text"
            style="width: 100%; height: 100%; outline: none; border: none; border-radius: 0.5rem; text-indent: 2rem;"
            value="S$ 20000" disabled />
        </div>
      </div>
    </div>

    <div style="background-color: white; text-align: center;">
      <div style="padding-top: 1rem;">
        Estimated Monthly Repayment
      </div>
      <div style="padding-top: 1rem;">
        S$ 6848
      </div>
      <div style="padding-top: 1rem;">
        Flat Interest Rate : 7.39 % p.a.
      </div>
      <div style="padding-top: 5rem;">
        What will you use your loan for?
      </div>
      <div
        style="padding-top: 2rem; padding-bottom: 0.5rem; text-align: left; margin-left: 2.5rem; margin-right: 2.5rem;">
        <div>Purpose of Loan</div>
      </div>
      <div
        style="text-align: left; margin-left: 2.5rem; margin-right: 2.5rem; background-color: #eee; border-radius: 0.5rem;">
        <div style="padding: 0.5rem 1rem; ">Holiday</div>
      </div>
      <div style="padding: 1rem 2.5rem 0 2.5rem;">
        <div style="float: left;">
          <input type="checkbox" />
        </div>
        <div style="text-align: left; font-size: 20px;">
          I have read and agree to the Terms & Conditions
        </div>
      </div>
      <div style="height: 100%; padding: 1rem 2.5rem;">
        <div
          style="background-color: rgba(0, 84, 152, 1); margin-top: 1rem; height: 2.5rem; border-radius: 0.5rem; text-align: center;">
          <div style="top: 50%; transform: translateY(50%);" (click)="getThisLoan() ">
            Get this loan
          </div>
        </div>
      </div>
    </div>
  </div>


</div>