@media (max-width: 767px) {
    .logo {
    //   height: 100%;
      width: 5rem;
      margin: 0 auto;
      margin-left: 15px;
      background-size: 51px 30px;
      background-repeat: no-repeat;
      background-position-y: center;
    }
  }
  