<div>
    <div id="lopHeader"
        style="width: 100%; background: linear-gradient(180deg, rgba(0, 182, 240, 1) 0%, rgba(0, 84, 152, 1) 100%); padding: 0.5rem 0; z-index: 1001; top: 0; position: fixed;">
        <img class="logo" src="../../../../../../assets/images/Citi_Registered_Logo_3x.png">
    </div>
    <div id="lopBody" style="z-index: 1000;">
        <img class="" src="../../../../../../assets/images/loanoncard_bg.jpg">
    </div>
    <div
        style="background-color: #002A54; color: white; opacity: 0.8; z-index: 1008; position: absolute; top: 3rem; margin: 2rem; text-align: center;">
        <div style="padding-top: 3rem;">
            Your Application is complete.
        </div>
        <div style="padding: 3rem;">
            Complete
        </div>
        <div>
            That's all,<br />
            ANTHONY
        </div>
        <div>
            Your cheque should arrive at your registered address within 5 to 6 working days, if there are no hold-ups.
            Mail can sometimes takes slightly longer.
        </div>
        <div>
            Meanwhile, we will contact you if we need further information.
        </div>
        <div style="padding: 3rem;">
            It's a limited offer - get it now in just 2 minutes.
        </div>
    </div>
</div>