<div>
    <div id="lopHeader"
        style="width: 100%; background: linear-gradient(180deg, rgba(0, 182, 240, 1) 0%, rgba(0, 84, 152, 1) 100%); padding: 0.5rem 0; z-index: 1001;">
        <img class="logo" src="../../../../../../assets/images/Citi_Registered_Logo_3x.png">
    </div>
    <div id="lopBody" style="z-index: 1000; padding: 0 2.5rem; font-size: 1.3rem; color: #999;">
        <div style="text-align: center; padding-top: 1rem; font-size: 2rem; line-height: 2rem; color: #7897BC;">
            How would you like to receive your loan?
        </div>
        <div>
            <hr style="width: 25%; border: none; height: 5px; background-color: rgba(0, 84, 152, 1);" />
        </div>
        <div style="padding-bottom: 0.5rem; padding-top: 2rem;">
            Pay to
        </div>
        <div style="text-align: left; border-radius: 0.5rem; background-color: #eee;">
            <div style="padding: 0.5rem 1rem;">
                Bank's Account
            </div>
        </div>
        <div style="padding-bottom: 0.5rem; padding-top: 2rem;">
            Bank Name
        </div>
        <div style="text-align: left; border-radius: 0.5rem; background-color: #eee;">
            <div style="padding: 0.5rem 1rem;">
                ABBank - An Binh Bank Vietr
            </div>
        </div>
        <div style="padding-bottom: 0.5rem; padding-top: 2rem;">
            City Name
        </div>
        <div style="text-align: left; border-radius: 0.5rem; background-color: #eee;">
            <div style="padding: 0.5rem 1rem;">
                Hochiminh City
            </div>
        </div>
        <div style="padding-bottom: 0.5rem; padding-top: 2rem;">
            Branch Name
        </div>
        <div style="text-align: left; border-radius: 0.5rem; background-color: #eee;">
            <div style="padding: 0.5rem 1rem;">
                ABBank Hochiminh Branch
            </div>
        </div>
        <div style="padding-bottom: 0.5rem; padding-top: 2rem;">
            Account Number
        </div>
        <div style="text-align: left; border-radius: 0.5rem; background-color: #eee;">
            <div style="padding: 0.5rem 1rem;">
                XXXX9876
            </div>
        </div>
    </div>
    <div style="height: 100%; padding: 1rem 2.5rem;">
        <div
            style="background-color: rgba(0, 84, 152, 1); margin-top: 1rem; height: 2.5rem; border-radius: 0.5rem; text-align: center;">
            <div style="top: 50%; transform: translateY(50%); color: white; font-weight: bold; letter-spacing: 0.1rem;"
                (click)="submit() ">
                Submit
            </div>
        </div>
    </div>
</div>