<div>
    <div id="lopHeader"
        style="width: 100%; background: linear-gradient(180deg, rgba(0, 182, 240, 1) 0%, rgba(0, 84, 152, 1) 100%); padding: 0.5rem 0; z-index: 1001;">
        <img class="logo" src="../../../../../../assets/images/Citi_Registered_Logo_3x.png">
    </div>
    <div id="lopBody" style="z-index: 1000;">
        <div>
            How would you like to receive your loan?
        </div>
        <div>
            <hr />
        </div>
        <div>
            Pay to
        </div>
        <div>
            Bank's Account
        </div>
        <div>
            ABBank - An Binh Bank Vietr
        </div>
        <div>
            City Name
        </div>
        <div>
            Hochiminh City
        </div>
        <div>
            Branch Name
        </div>
        <div>
            Account Number
        </div>
        <div>
            Bank's Account
        </div>
    </div>
    <div style="height: 100%; padding: 1rem 2.5rem;">
        <div
            style="background-color: rgba(0, 84, 152, 1); margin-top: 1rem; height: 2.5rem; border-radius: 0.5rem; text-align: center;">
            <div style="top: 50%; transform: translateY(50%);" (click)="submit() ">
                Submit
            </div>
        </div>
    </div>
</div>