<div>
    <div id="lopHeader"
        style="width: 100%; background: linear-gradient(180deg, rgba(0, 182, 240, 1) 0%, rgba(0, 84, 152, 1) 100%); padding: 0.5rem 0; z-index: 1001;">
        <img class="logo" src="../../../../../../assets/images/Citi_Registered_Logo_3x.png">
    </div>
    <div id="lopBody" style="z-index: 1000;">
        <div>
            Confirm and Book
        </div>
        <div>
            <hr />
        </div>
        <div>
            Please make sure all details are correct. Once you are sure, please complete the booking.
        </div>
        <div>
            <div>
                Loan Amount
            </div>
            <div>
                S$ 20000
            </div>
            <div>
                Booked on your Citi Ready Credit Account XXXXXXXXXXXX0987
            </div>
        </div>
        <div>
            <div>
                Monthly Repayment
            </div>
            <div>
                Show Effective Interest Rate
            </div>
        </div>
        <div>
            <div>
                Purpose of Loan
            </div>
            <div>
                Holiday
            </div>
        </div>
        <div>
            <div>
                Pay To
            </div>
            <div>
                Bank's Account ABBank - An Binh Bank Vietnam ABBank Hochiminh Branch 8736
            </div>
        </div>
        <div>
            Edit Information &gt;
        </div>
        <div>
            Download Amoritization Schedule (PDF) &gt;
        </div>
    </div>
    <div style="height: 100%; padding: 1rem 2.5rem;">
        <div
            style="background-color: rgba(0, 84, 152, 1); margin-top: 1rem; height: 2.5rem; border-radius: 0.5rem; text-align: center;">
            <div style="top: 50%; transform: translateY(50%);" (click)="complete() ">
                Complete the booking
            </div>
        </div>
    </div>
</div>